<table>
    <thead>
        <th>Ausgabe</th>
        <th>Datum</th>
        <th>Titel</th>
        <th>G채ste</th>
        <th>Dauer</th>
    </thead>
    <tbody>
    {% for episode in podcast.episodes %}
        <tr class="podcast_archive_element">

            <td class="slug">
                <a href="{{ episode.url }}">
                    {{ episode.slug }}
                </a>
            </td>

            <td class="date">
                <span class="release_date">
                    {{ episode.publicationDate.format('d.m.Y') }}
                </span>
            </td>

            <td class="title">
                <a href="{{ episode.url }}">
                    <strong>{{ episode.title }}</strong><br>
                    {{ episode.subtitle }}
                </a>
            </td>

            <td class="date">
                <span class="guests">
                  {# Nur wenn G채ste bei dieser Episode dabei, diese auflisten #}
                  {% if episode.contributors({role: "gast"}) %}
                      <div>
                          {# G채ste auflisten. M체ssen Contributor in einer Episode sein! #}
                          {% for contributor in episode.contributors({group: "onair", role: "gast", orderby: "position", order: "ASC"}) %}
                              {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 32} only %}
                              {{ contributor.name }}
                              {% if not loop.last %}, {% endif %}
                          {% endfor %}
                      </div>
                  {% endif %}
                </span>
            </td>

            <td class="duration">
                {% set duration = episode.duration %}
                {{ duration.hours }}:{{ duration.minutes|padLeft("0",2) }}:{{ duration.seconds|padLeft("0",2) }}
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>
