{# 17.11.2016: Gruppen und Rollen wie im Robotiklabor                         #}
{# 23.03.2018: Anzahl Downloads hinzugefügt, neu seit Podlove 2.7             #}
<div>{{ episode.subtitle }}</div>

<div><br></div>

<div>{{ episode.summary }}</div>

<div><br></div>

{% if not is_feed() %}
    {{ episode.player }}
{% endif %}

<div><br></div>
[podlove-episode-downloads]
<div><br></div>

{# On-Air, Moderatoren #}
{% if episode.contributors({role: "moderator" or "comoderator"}) %}
    <div>
        <strong>Moderation<br></strong>
        {# Moderationen auflisten (Gruppe, nicht Rolle) #}
        {% for contributor in episode.contributors({role: "moderator", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 64} only %}
            {{ contributor.name }}
            {# {% if not loop.last %}, {% endif %} #}
        {% endfor %}
        {# Moderationen auflisten (Gruppe, nicht Rolle) #}
        {% for contributor in episode.contributors({role: "comoderator", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 64} only %}
            {{ contributor.name }}
            {# {% if not loop.last %}, {% endif %} #}
        {% endfor %}
    </div>
{% endif %}

{# Nur wenn Gäste bei dieser Episode dabei, diese auflisten #}
{% if episode.contributors({role: "gast"}) %}
    <div><br></div>
    <div>
        <strong>Gäste<br></strong>
        {# Gäste auflisten. Müssen Contributor in einer Episode sein! #}
        {% for contributor in episode.contributors({group: "onair", role: "gast", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 64} only %}
            {{ contributor.name }}
            {# {% if not loop.last %}, {% endif %} #}  
        {% endfor %}
    </div>
{% endif %}

{# Nur wenn Shownoter bei dieser Episode dabei, diese auflisten #}
{% if episode.contributors({role: "shownoter"}) %}
    <div><br></div>
    <div>
        <strong>Shownotes<br></strong>
        {# Shownoter auflisten. Müssen Contributor in einer Episode sein! #}
        {% for contributor in episode.contributors({group: "backstage", role: "shownoter", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 32} only %}
            {{ contributor.name }}
            {% if not loop.last %}, {% endif %}  
        {% endfor %}
    </div>
{% endif %}

{# Nur wenn Beitragende bei dieser Episode dabei, diese auflisten #}
{% if episode.contributors({role: "beitragender"}) %}
    <div><br></div>
    <div>
        <strong>Beitragende<br></strong>
        {# Beitragende auflisten. Müssen Contributor in einer Episode sein! #}
        {% for contributor in episode.contributors({group: "backstage", role: "beitragender", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 32} only %}
            {{ contributor.name }}
            {% if not loop.last %}, {% endif %}  
        {% endfor %}
    </div>
{% endif %}

<div><br></div>

<div>
    <strong>Dauer<br></strong>

    {# Stunden nur, wenn welche da#}
    {% if episode.duration.hours > '0' %}
        {# Mehrzahl nur, wenn > 1 Stunde #}
        {% if episode.duration.hours > '1'%}
            {{ episode.duration.hours }} Stunden
        {% else %}
            {{ episode.duration.hours }} Stunde
        {% endif %}
    {% endif %}

    {# Minuten nur, wenn welche da#}
    {% if episode.duration.minutes > '0' %}
        {# Mehrzahl nur, wenn > 1 Minute #}
        {% if episode.duration.minutes > '1'%}
            {{ episode.duration.minutes }} Minuten
        {% else %}
            {{ episode.duration.minutes }} Minute
        {% endif %}
    {% endif %}
</div>

<div><br></div>

<div>
    <strong>Veröffentlichung<br></strong>
    {{ episode.publicationDate.format('d.m.Y') }}
</div>

<div><br></div>

<div>
    <strong>Lizenz<br></strong>

{# @core/license.twig #}

{#
	Include example:
	{% include '@core/license.twig' %}

	You can pass in a license to determine which one is displayed:
	{% include '@core/license.twig' with {'license': podcast.license} %}	
#}
{% if license is not defined %}
	{% if episode is not null and episode.license.valid %}
		{% set license = episode.license %}
	{% else %}
	    {% set license = podcast.license %}
	{% endif %}
{% endif %}

{% if license.valid %}
	{% if license.creativeCommons %}
		<a rel="license" href="{{ license.url }}">{{ license.name }}</a>
	{% else %}
        <a href="{{ license.url }}">{{ license.name }}</a>
	{% endif %}
{% else %}
		(Noch nicht lizensiert bzw. keine Lizenz gewählt)
{% endif %}
</div>

<div><br></div>

<div>
    <strong>Downloads<br></strong>
    {{ episode.total_downloads }}
</div>

<div><br></div>

{# horizontale Linie #}
<hr />
<!--more-->
[shownotes]
{# 17.11.2016: Gruppen und Rollen wie im Robotiklabor                         #}
{# 23.03.2018: Anzahl Downloads hinzugefügt, neu seit Podlove 2.7             #}
<div>{{ episode.subtitle }}</div>

<div><br></div>

<div>{{ episode.summary }}</div>

<div><br></div>

{% if not is_feed() %}
    {{ episode.player }}
{% endif %}

<div><br></div>
[podlove-episode-downloads]
<div><br></div>

{# On-Air, Moderatoren #}
{% if episode.contributors({role: "moderator" or "comoderator"}) %}
    <div>
        <strong>Moderation<br></strong>
        {# Moderationen auflisten (Gruppe, nicht Rolle) #}
        {% for contributor in episode.contributors({role: "moderator", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 64} only %}
            {{ contributor.name }}
            {# {% if not loop.last %}, {% endif %} #}
        {% endfor %}
        {# Moderationen auflisten (Gruppe, nicht Rolle) #}
        {% for contributor in episode.contributors({role: "comoderator", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 64} only %}
            {{ contributor.name }}
            {# {% if not loop.last %}, {% endif %} #}
        {% endfor %}
    </div>
{% endif %}

{# Nur wenn Gäste bei dieser Episode dabei, diese auflisten #}
{% if episode.contributors({role: "gast"}) %}
    <div><br></div>
    <div>
        <strong>Gäste<br></strong>
        {# Gäste auflisten. Müssen Contributor in einer Episode sein! #}
        {% for contributor in episode.contributors({group: "onair", role: "gast", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 64} only %}
            {{ contributor.name }}
            {# {% if not loop.last %}, {% endif %} #}  
        {% endfor %}
    </div>
{% endif %}

{# Nur wenn Shownoter bei dieser Episode dabei, diese auflisten #}
{% if episode.contributors({role: "shownoter"}) %}
    <div><br></div>
    <div>
        <strong>Shownotes<br></strong>
        {# Shownoter auflisten. Müssen Contributor in einer Episode sein! #}
        {% for contributor in episode.contributors({group: "backstage", role: "shownoter", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 32} only %}
            {{ contributor.name }}
            {% if not loop.last %}, {% endif %}  
        {% endfor %}
    </div>
{% endif %}

{# Nur wenn Beitragende bei dieser Episode dabei, diese auflisten #}
{% if episode.contributors({role: "beitragender"}) %}
    <div><br></div>
    <div>
        <strong>Beitragende<br></strong>
        {# Beitragende auflisten. Müssen Contributor in einer Episode sein! #}
        {% for contributor in episode.contributors({group: "backstage", role: "beitragender", orderby: "position", order: "ASC"}) %}
            {% include '@contributors/avatar.twig' with {'avatar': contributor.avatar, 'size': 32} only %}
            {{ contributor.name }}
            {% if not loop.last %}, {% endif %}  
        {% endfor %}
    </div>
{% endif %}

<div><br></div>

<div>
    <strong>Dauer<br></strong>

    {# Stunden nur, wenn welche da#}
    {% if episode.duration.hours > '0' %}
        {# Mehrzahl nur, wenn > 1 Stunde #}
        {% if episode.duration.hours > '1'%}
            {{ episode.duration.hours }} Stunden
        {% else %}
            {{ episode.duration.hours }} Stunde
        {% endif %}
    {% endif %}

    {# Minuten nur, wenn welche da#}
    {% if episode.duration.minutes > '0' %}
        {# Mehrzahl nur, wenn > 1 Minute #}
        {% if episode.duration.minutes > '1'%}
            {{ episode.duration.minutes }} Minuten
        {% else %}
            {{ episode.duration.minutes }} Minute
        {% endif %}
    {% endif %}
</div>

<div><br></div>

<div>
    <strong>Veröffentlichung<br></strong>
    {{ episode.publicationDate.format('d.m.Y') }}
</div>

<div><br></div>

<div>
    <strong>Lizenz<br></strong>

{# @core/license.twig #}

{#
	Include example:
	{% include '@core/license.twig' %}

	You can pass in a license to determine which one is displayed:
	{% include '@core/license.twig' with {'license': podcast.license} %}	
#}
{% if license is not defined %}
	{% if episode is not null and episode.license.valid %}
		{% set license = episode.license %}
	{% else %}
	    {% set license = podcast.license %}
	{% endif %}
{% endif %}

{% if license.valid %}
	{% if license.creativeCommons %}
		<a rel="license" href="{{ license.url }}">{{ license.name }}</a>
	{% else %}
        <a href="{{ license.url }}">{{ license.name }}</a>
	{% endif %}
{% else %}
		(Noch nicht lizensiert bzw. keine Lizenz gewählt)
{% endif %}
</div>

<div><br></div>

<div>
    <strong>Downloads<br></strong>
    {{ episode.total_downloads }}
</div>

<div><br></div>

{# horizontale Linie #}
<hr />
<!--more-->
[shownotes]
